<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/pokestyle2.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="pokescreen">
    <%= yield %>
    </div>
  </body>
</html>
