<h2></h2>
<p><%=@trainer.name.capitalize%></p>
<p><img src="<%=@trainer.img_url%>"></p>
<p>Level: <%=@trainer.level%></p>
<p><a href="/trainer/<%=@trainer.id%>/edit">Edit Trainer</a></p>
<p><a href="/trainer">Home</a></p>
